body {
  margin: 0;
  padding: 0;
}

.hero-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  height: 100vh; /* Încadrăm vertical la înălțimea ecranului */
}

.hero-image {
  height: 100%;
  width: auto;
  max-height: 100vh;
  object-fit: cover;
  display: block;
}
